In [ ]:
! pip install mysql-connector-python

In [2]:
import mysql.connector as connector

In [8]:
connection = connector.connect(user = "IAM", password = "The1", db = "littlelemondb")
cursor = connection.cursor()

In [9]:
show_table_query = """SHOW TABLES;"""
cursor.execute(show_table_query)
print(cursor.fetchall())

In [14]:
join_query = """
SELECT c.FullName, c.ContactNumber, o.TotalCost AS `BillAmount`
FROM Customers AS c
JOIN Orders AS o
ON c.CustomerID = o.CustomerID
WHERE o.TotalCost > 60;
"""

cursor.execute(join_query)
results = cursor.fetchall()
for i in results:
    print(i)